.App {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.App-viewportGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-viewportContainer {
  background-color: black;
  position: relative;
  flex: 1;
}

.App-rightSidebar {
  position: relative;
  flex: 0;
  flex-basis: 300px;
  padding: 8px;
  background-color: #333333;
  color: lightgray;
  font-size: 0.8em;
}

.App-pianoContainer {
  position: relative;
}

.App-musicControls {
  margin-top: 4px;
  margin-bottom: 4px;
}

.App-musicControls a {
  display: inline-block;
  cursor: pointer;
  border: 1px solid gray;
  padding: 4px 20px;
  border-radius: 4px;
  background-color: gray;
}

.App-musicControls a:hover {
  background-color: #666;
  color: white;
}

.App-musicControls a:active {
  background-color: black;
  color: white;
}
