.App {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.App-viewportGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-viewportContainer {
  background-color: black;
  position: relative;
  flex: 1;
}

.App-pianoContainer {
  position: relative;
}

.App-sidebarContainer {
  position: relative;
  flex: 0;
  flex-basis: 300px;
  padding: 8px;
  background-color: #333333;
  color: lightgray;
  font-size: 0.8em;
}

