.LedStudioRoot {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  user-select: none;
}

.LedStudioRoot-viewportGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.LedStudioRoot-viewportContainer {
  background-color: black;
  position: relative;
  flex: 1;
}

.LedStudioRoot-analogAudioViewContainer {
  position: relative;
  height: 64px;
}

.LedStudioRoot-controllerStateContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: #333333;
  padding-top: 5px;
  padding-bottom: 5px;
}

.LedStudioRoot-sidebarContainer {
  position: relative;
  flex: 0;
  flex-basis: 300px;
  padding: 8px;
  background-color: #333333;
  color: lightgray;
  font-size: 0.8em;
}

.LedStudioRoot-simulationToggleSwitch {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  background-color: red;
  color: yellow;
  font-size: 10px;
  cursor: pointer;
}

.LedStudioRoot-simulationToggleSwitch.enabled {
  background-color: #222;
  color: gray;
}
