.root {
  flex: 1;
  .pressed {
    background-color: red;
  }
}

.piano {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: 850px;
  height: 100%;
  border-right: 1px solid gray;
  box-sizing: border-box;
}

.whiteKey {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px solid gray;
  border-right: 0px;
  box-sizing: border-box;
  background-color: white;
}

.blackKey {
  position: absolute;
  top: 0;
  height: 66%;
  border: 1px solid gray;
  box-sizing: border-box;
  background-color: black;
}
